html, body {
    margin: 0px;
    height: 100%;
}
:root {
    --visibility: none;
}
#button-dropdown {
    background: url("../assets/button.png"
    ) no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
    margin-left: 80%;
}
#menu-background {
    background-color: cyan;
}
#menu {
    width: 30%;
    text-align: center;
    margin-left: 60%;
    display: var(--visibility);
}
#menu li {
    padding-bottom: 10px;
    list-style-type: none;
}

footer div{
    width: 100%;
    margin-top: 120%;
    height: 40px;
    background-color: cyan;
}