@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
a {
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    color: #FFF;
}

html, body {
    margin: 0px;
    height: 100%;
    font-family: 'Montserrat', sans-serif;

}
:root {
    --visibility: none;
}

@media (min-width: 1024px) {
   #menu ol {
       padding: 3%;
       margin-left: -170%;
   }
   #menu ol li{
       display: inline;
       margin-left: 2%;
   }
    #button-dropdown {
        display: none;
    }
}
#button-dropdown {
    background: url("../assets/button.png"
    ) no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
    margin-left: 80%;
    display: none;
}
#menu-background {
    background-color: cyan;
    margin-bottom: 10px;
}
#menu {
    width: 30%;
    text-align: center;
    margin-left: 60%;
}
#menu li {
    padding-bottom: 10px;
    list-style-type: none;
}
section {
    display: flex;
    flex-wrap: wrap;
}
.content {
    width: 300px;
    height: 400px;
    background-color:#000;
    color: #FFF;
    margin: 20px auto;
    border-radius: 10%;
    text-align: center;
}

footer div{
    position:fixed;
    width: 100%;
    bottom: 0;
    height: 40px;
    background-color: cyan;
}